<div class="form-field">
  <p><%= t[:desc] %></p>
  <div class="form-input">
    <%= simple_form_for(@property_form, remote: true) do |f| %>
      <%= f.input t[:name], label: false,  placeholder: t[:unit], input_html: {class:'hidden js-no-validate'} %>
      <%= f.submit class:"hidden form-field-submit-button js-no-validate" %>
    <% end %>
  </div>
</div>
