<div class="form-field-label">
  <%= image_tag t[:icon], class: "form-icon" %>
  <strong><%= t[:desc] %></strong>
</div>
<div class="form-input">
  <%= f.input t[:name], label: false,  placeholder: t[:unit] %>
</div>
