$green: #20E8B6;
$dark-green: #1ACEA1;

$blue: #1C85E8;
$dark-blue: #132B49;
$light-blue: #F5FBFF;

$black: #0D223D;
$light-black: #525975;

$grey: #616668;
$light-grey: #f1f1f1;

$red: #FF696A;

// Unused
$yellow: #FDB631;
$orange: #E67E22;
$purple: #7C5BF4;
