<div class="carousel-container">
  <div id="carousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <% i = 1 %>
      <% @property.property_images.each do |p| %>
        <div class="item <%= 'active' if i == 1 %>">
          <%= cl_image_tag p.photo, class: "d-block w-100 carousel-img", :alt => "Slide #{i}" %>
        </div>
        <% i += 1 %>
      <% end %>
    </div>
  </div>
</div>
