.features-section {
  padding: 40px 0px;
  margin: 40px 0px;
  background: white;
  padding: 40px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  color: $dark-blue;
  .container {
    width: 80%;
  }
  img {
    max-height: 80px;
  }
  h2 {
    font-weight: 800;
    margin-top: 0px;
  }
  h4 {
    font-weight: 800;
  }
  p {
    color: $light-black;
  }
}
