.landing-prop {
  background-color: $dark-blue;
  padding: 0px 0px;
  .container {
    background-color: white;
    padding: 50px 20px;
    border-radius: 5px;
    width: 60%;
    color: $green;
  }
  h4 {
    margin-top: 10px;
    font-weight: 600;
  }
  p {
    color: $dark-blue;
  }
  img {
    max-height: 90px;
  }
  .landing-prop-item {
    animation-duration: 5s;
  }
}

.landing-steps {
  background-color: $dark-blue;
  padding: 80px 0px;
  .container {
    width: 60%;
  }
  .landing-steps-title h2 {
    color: white;
    font-weight: 800;
    margin-top: 0px;
    strong {
      color: $green;
    }
  }
  .landing-step-card {
    margin: 50px 0px;
    background-color: white;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    min-height: 250px;
    h3 {
      margin-top: 50px;
      font-weight: 800;
      color: $black;
    }
    p {
      margin-top: 20px;
      color: $light-black;
    }
    .btn {
      margin-top: 20px;
    }
  }
  .landing-step-img {
    margin: 50px 0px;
    img {
      max-height: 280px;
      max-width: 280px;
    }
  }
}

.landing-contact {
  background-color: $dark-blue;
  padding: 80px 0px;
  .container {
    width: 60%;
  }
  h2 {
    color: $green;
    font-weight: 800;
    margin-top: 0px;
  }
  p {
    color: white;
  }
  a {
    margin-top: 20px;
    text-decoration: none;
    color: $green;
    font-weight: 800;
  }
  img {
    margin: 10px 0px;
    width: 120px;
    height: 120px;
  }
}

// Mobile responsive
@media (max-width: 992px) {
  .landing-prop {
    padding: 30px 0px;
    img {
      margin-top: 30px;
    }
  }
  .landing-prop > .container, .landing-steps > .container, .landing-advantages > .container {
    width: 90%;
  }
  #landing-first-step .landing-step-img:before, #landing-second-step .landing-step-img:before {
    content: none !important;
  }
  .landing-steps > .container {
    width: 100%;
  }
  .landing-step-card {
    margin: 30px 0px !important;
    padding: 20px !important;
    max-width: 100%;
    h4 {
      width: 30px !important;
      height: 30px !important;
      line-height: 30px !important;
      font-size: 16px !important;
    }
  }
  .landing-step-img {
    margin: 20px 0px 10px 0px !important;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
@media (max-width: 1700px) {
  .landing-steps > .container {
      width: 80%;
  }
}
@media (max-width: 1300px) {
  .landing-steps > .container {
      width: 90%;
  }
}
