<div class="col-xs-12 col-sm-6">
  <%= link_to real_estate_property_path(property.id), class: "property-card-form" do %>
    <div class="property-card">
      <div class="col-xs-12 property-card-image">
        <% if property.property_images.first.nil? %>
          <%= image_tag ("default_property.png") %>
        <% else %>
          <%= image_tag property.property_images.first.photo %>
        <% end %>
      </div>
      <div class="col-xs-6 property-card-description text-center">
        <p>
          <strong>Surface</strong>
          <br>
          <% if property.property_total_size_sqm %>
           <%= "#{property.property_total_size_sqm} m²" %>
          <% else %>
            n/a
          <% end %>
        </p>
      </div>
      <div class="col-xs-6 property-card-description text-center">
        <p>
          <strong>Prix</strong>
          <br>
          <%#= number_with_delimiter(property.price.round(0), :delimiter => ' ') if !property.price.nil? %>€
        </p>
      </div>
    </div>
  <% end %>
</div>
