<div class="main-section">
  <div class="show-container">
    <div class="show-content">
      <%= render 'real_estate_properties/show_elements/property_card' %>
      <%= render 'real_estate_properties/show_elements/highlights' %>
    </div>
  </div>
</div>
