<!-- Footer -->
<footer id="main-footer">
  <div class="container footer">
    <div class="row">
      <div class="text-center col-xs-12 col-sm-6">
        <%= link_to root_path do %>
          <%= image_tag "logo.png" %>
          <p>© Zenkey (2018)</p>
        <% end %>
      </div>
      <div class="text-center col-xs-12 col-sm-6">
        <h4>Entreprise</h4>
        <ul>
          <li>
            <%= link_to "A propos", about_path %>
          </li>
          <li>
            <%= mail_to "contact@homepay.fr", "Nous contacter" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
