<% content_for :meta_title, "#{@landing}" %>
<% content_for :meta_description, @landing.description %>
<% content_for :meta_image, @landing.cover %>

<div class="main-section">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="form-container">
        <div class="form-title text-center">
          <h1>Parlez-nous un peu de vous</h1>
        </div>
        <div class="form-body">
          <%= simple_form_for(@request) do |f| %>
            <%= render 'property_forms/form_sections/form_section_dispatch', page: @fields, f: f %>
            <div class="text-center" style="margin-top: 20px;">
              <%= f.hidden_field :landing, :value => @landing %>
              <div class="btn" id="js-validate-section">
                Je m'inscris
              </div>
              <%= f.submit "Je m'inscris", class:"hidden btn", id:"js-submit_form" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



