<div class="main-section text-center">
  <div class="container">
    <div class="how-it-works-section">
      <div class="container">
        <h2>
          Nos services
        </h2>
        <p>
          Chez Zenkey, nous sommes persuadés que nous pouvons réinventer le modèle d'agence immobilière en vous apportant des services de qualité et un accompagnement sur-mesure tout en restant une solution gratuite pour les vendeurs. Pour cela, nous nous rémunérons auprès des banques à travers notre service de courtage. Nous pouvons ainsi vous accompagner gratuitement et en toute indépendance lors de la vente de votre logement.
        </p>
      </div>
    </div>
  </div>
</div>
