<div class="main-section text-center">
  <div class="container">
    <div class="how-it-works-section">
      <div class="container">
        <h2>
          Nous réinventons le modèle d'agence immobilière
        </h2>
        <p>
          Chez Zenkey, nous sommes persuadés que nous pouvons vous apporter des services de qualité et un accompagnement sur-mesure tout en restant une solution gratuite pour les vendeurs. Pour cela, nous nous rémunérons auprès des banques à travers notre service de courtage. Nous pouvons ainsi vous accompagner gratuitement et en toute indépendance lors de la vente de votre logement.
        </p>
      </div>
    </div>

    <div class="how-it-works-section">
      <div class="container">
        <h2>
          Nos services
        </h2>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <h4>
              Evaluation du bien
            </h4>
          </div>
          <div class="col-xs-12 col-sm-4">
            <h4>
              Photos professionnelles
            </h4>
          </div>
          <div class="col-xs-12 col-sm-4">
            <h4>
              Publication de l'annonce
            </h4>
          </div>
          <div class="col-xs-12 col-sm-4">
            <h4>
              Qualification des acquéreurs
            </h4>
          </div>
          <div class="col-xs-12 col-sm-4">
            <h4>
              Accompagnement personnalisé
            </h4>
          </div>
          <div class="col-xs-12 col-sm-4">
            <h4>
              Gestion de la vente en ligne
            </h4>
          </div>
          <div class="col-xs-12 col-sm-4">
            <h4>
              Négociation des offres
            </h4>
          </div>
          <div class="col-xs-12 col-sm-4">
            <h4>
              Organisation des visites
            </h4>
          </div>
          <div class="col-xs-12 col-sm-4">
            <h4>
              Constitution des dossiers
            </h4>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
