<div class="main-section text-center">
  <div class="container">
    <div class="how-it-works-section">
      <div class="container">
        <h2>
          Vendre son bien immobilier avec Zenkey
        </h2>
        <p>
          Acheter et vendre une maison marque le début d'un nouveau chapitre de vie. Nous pensons que vendre un bien immobilier devrait être simple et transparent. Nous travaillons avec les propriétaires pour leur apporter une expérience profondément simplifiée, apportant de la confiance et de la transparence à chaque étape de la vente d'un bien immobilier.
        </p>
        <ul class="timeline">
          <div class="row">
            <div class="col-xs-12">
              <li class="timeline-step regular-step">
                <div class="col-xs-12 col-sm-6 step-container">
                  <%= image_tag "timeline_knock.png" %>
                  <p>
                    <strong>Estimation de votre bien</strong>
                  </p>
                  <p>
                    Première étape obligée à toute vente immobilière, l’estimation ! Elle est réalisée par l’un de nos agents connaissant parfaitement votre quartier. L’estimation de votre bien est sans engagement et gratuite.
                  </p>
                </div>
              </li>
            </div>
            <div class="col-xs-12">
              <li class="timeline-step regular-step">
                <div class="col-xs-12 col-sm-6 col-sm-offset-6 step-container">
                  <%= image_tag "timeline_review.png" %>
                  <p>
                    <strong>Diffusion de votre annonce</strong>
                  </p>
                  <p>Une annonce professionnelle vous permettra de réaliser une vente efficace. Nous faisons passer un photographe professionnel qui saura au mieux mettre en valeur votre bien. En 48h, nous créons votre annonce et la diffusons sur une vingtaine de sites d’annonce, dont Seloger, Explorimmo et Leboncoin.</p>
                </div>
              </li>
            </div>
            <div class="col-xs-12">
              <li class="timeline-step regular-step">
                <div class="col-xs-12 col-sm-6 step-container">
                  <%= image_tag "timeline_call.png" %>
                  <p>
                    <strong>Vendez votre bien</strong>
                  </p>
                  <p>
                    Vous pourrez enfin rencontrer votre conseiller personnel. Il s'occupera de l'organisation des visites et de la qualification des dossiers de vos acheteurs potentiels. Si vous le souhaitez, nous pourrons assurer les visites pour vous (pour 500€ de plus par rapport au forfait total).
                  </p>
                </div>
              </li>
            </div>
            <div class="col-xs-12">
              <li class="timeline-step regular-step">
                <div class="col-xs-12 col-sm-6 col-sm-offset-6 step-container">
                  <%= image_tag "timeline_offer.png" %>
                  <p>
                    <strong>Accompagnement jusqu'à la signature</strong>
                  </p>
                  <p>
                    Nous allons vous accompagner tout au long du processus de vente, et nous vous aiderons notamment à réaliser toutes les démarches administratives afin de vous éviter les erreurs qui peuvent ralentir, stopper, ou annuler une vente.
                  </p>
                </div>
              </li>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
