<div class="main-section text-center">
  <div class="container">
    <div class="how-it-works-section">
      <div class="container">
        <h2>
          Vendre son bien immobilier avec Zenkey
        </h2>
        <p>
          Acheter et vendre une maison marque le début d'un nouveau chapitre de vie. Nous pensons que vendre un bien immobilier devrait être simple et transparent. Nous travaillons avec les propriétaires pour leur apporter une expérience profondément simplifiée, apportant de la confiance et de la transparence à chaque étape de la vente d'un bien immobilier.
        </p>
        <ul class="timeline">
          <div class="row">
            <div class="col-xs-12">
              <li class="timeline-step regular-step">
                <div class="col-xs-12 col-sm-6 step-container">
                  <%= image_tag "timeline_knock.png" %>
                  <p>
                    <strong>Estimation de votre bien</strong>
                  </p>
                  <p>
                    La première étape de la vente d'un bien immobilier est son <strong>estimation</strong>. Celle-ci est réalisée par l’un de nos agents connaissant parfaitement votre quartier. Notre estimation se base sur l'analyse d'un grand nombre de données, regroupant à la fois les transactions historiques dans votre quartier et les biens comparables en cours de vente. L’estimation de votre bien est <strong>sans engagement et gratuite</strong>.
                  </p>
                </div>
              </li>
            </div>
            <div class="col-xs-12">
              <li class="timeline-step regular-step">
                <div class="col-xs-12 col-sm-6 col-sm-offset-6 step-container">
                  <%= image_tag "timeline_review.png" %>
                  <p>
                    <strong>Diffusion de votre annonce</strong>
                  </p>
                  <p>Une annonce professionnelle vous permettra de réaliser une vente efficace. Nous faisons passer un <strong>photographe professionnel</strong> qui saura au mieux mettre en valeur votre bien. En 48h, nous créons votre annonce et la diffusons sur une vingtaine de sites d’annonces, dont Seloger, Explorimmo et Leboncoin, vous permettant de toucher des <strong>millions d'acquéreurs</strong>.</p>
                </div>
              </li>
            </div>
            <div class="col-xs-12">
              <li class="timeline-step regular-step">
                <div class="col-xs-12 col-sm-6 step-container">
                  <%= image_tag "timeline_call.png" %>
                  <p>
                    <strong>Vendez votre bien</strong>
                  </p>
                  <p>
                    Vous pourrez enfin rencontrer votre <strong>conseiller personnel</strong>. Il s'occupera de l'organisation des visites et de la qualification des dossiers de vos acheteurs potentiels. Nous prenons soin de qualifier chaque dossier d'un acquéreur, vous permettant d'éviter des visites inutiles. Après chaque visite, vous recevrez un compte rendu détaillé.
                  </p>
                </div>
              </li>
            </div>
            <div class="col-xs-12">
              <li class="timeline-step regular-step">
                <div class="col-xs-12 col-sm-6 col-sm-offset-6 step-container">
                  <%= image_tag "timeline_offer.png" %>
                  <p>
                    <strong>Accompagnement jusqu'à la signature</strong>
                  </p>
                  <p>
                    Nous allons vous accompagner <strong>tout au long du processus de vente</strong>, et nous vous aiderons notamment à réaliser toutes les démarches administratives afin de vous éviter les erreurs qui peuvent ralentir, stopper, ou annuler une vente. Nous nous assurons par ailleurs que le financement de l'opération soit assuré par nos partenaires bancaires.
                  </p>
                </div>
              </li>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
