<div id="map"
style="width: 100%;height: 280px; margin-bottom: 20px"
data-markers="<%= @marker.nil? ? { lat: 48.853, lng: 2.35 }.to_json : @marker.to_json %>">
</div>
<p class="text-center"><%= @property_form.address %></p>
