<div class="main-section">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <%= render 'property_forms/progress_bar/progress_bar', section: 1, name: 'Addresse'  %>
      <div class="form-container">
        <div class="form-title text-center">
          <h1>Addresse de votre bien</h1>
        </div>
        <div class="form-body">
          <%= render 'shared/map' %>
          <%= render 'shared/address_form' %>
        </div>
        <div class="form-validation">
        </div>
      </div>
    </div>
  </div>
</div>
