.banner {
  min-height: calc(90vh - 70px);
  overflow: hidden;
  .banner-content {
    min-height: calc(80vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    h1 {
      font-weight: 800;
      margin-bottom: 20px;
      text-shadow: 1px 1px $light-black;
    }
    strong {
      color: $green;
    }
    p {
      margin-top: 20px;
      text-shadow: 1px 1px $light-black;
    }
  }
  .banner-cta {
    display: inline-flex;
    height: 45px;
    .btn {
      height: 45px;
      padding: 10px 10px;
    }
    p {
      height: 45px;
      padding: 10px 0px;
      margin: 0px 0px 0px 20px;
    }
  }
}

// Banner on about-us page
.banner-about {
  min-height: calc(60vh - 70px);
  color: $green;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  h1 {
    font-size: 46px;
    font-weight: 800;
  }
}

// Mobile responsive of banners
@media (max-width: 768px) {
  .banner {
    min-height: calc(90vh - 70px);
    text-align: center;
    .banner-content {
      min-height: calc(90vh - 70px);
      h1 {
        font-size: 32px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        margin-top: 20px;
      }
    }
  }
  .banner-about {
    min-height: calc(70vh - 70px);
    h1 {
      font-size: 32px;
    }
  }
}
