.address-input-form form {
  display: inline-flex;
  width: 100%;
  .form-input {
    flex: 2;
    position: relative;
    input {
      height: 50px;
      border: solid 2px white;
      border-radius: 6px 0px 0px 6px;
      font-size: 14px;
      padding-left: 35px;
    }
    i {
      position: absolute;
      left: 10px;
      top: 15px;
      color: #CCCCCC;
    }
    &.border-green input {
      border-color: $green;
    }
  }
  .form-submit {
    flex: 1;
    height: 50px;
    border: solid 2px white;
    color: white;
    font-size: 14px;
    font-weight: 800;
    border-radius: 0px 6px 6px 0px;
    background-color: $green;
    transition: all ease 0.4s;
    &.border-green {
      border-color: $green;
    }
  }
}

// Mobile responsive
@media (max-width: 768px) {
  .address-input-form form {
    display: flex;
    .form-input {
      border-radius: 6px 0px 0px 6px;
      flex: 1 0 auto;
      font-size: 14px;
    }
    .form-submit {
      flex: 0 0 33%;
    }
    i {
      font-size: 20px;
    }
  }
}

// HOVER STYLES on PCs
.address-input-form form:hover {
  .form-input.border-green input {
    border-color: $dark-green;
  }
  .form-submit {
    background-color: $dark-green;
    &.border-green {
     border-color: $dark-green;
    }
  }
}
